<?xml version="1.0" encoding="utf-8" ?>
<go-plugin id="gocd.guest.user.auth.plugin" version="1">
    <about>
        <name>GoCD Auth Plugin - Guest User</name>
        <version>1.0</version>
        <target-go-version>16.1.0</target-go-version>
        <description>Allows users to login as a guest to a GoCD server</description>
        <vendor>
            <name>Aravind SV</name>
            <!-- TODO: Change this. -->
            <url>https://github.com/gocd/gocd</url>
        </vendor>
    </about>
</go-plugin>